<div class="form-group text-center">
    <h1>Danh Sách Sản Phẩm</h1>
</div>

<a href="/user"
    style="border-radius: 50px; width: 100px; height: 50px;border: 1 red solid; background-color: darkgray;color: crimson; font-size:23px;margin-bottom: 10px;font-weight: bold;text-align: center;"
    class="btn btn-second ">ADD</a>

<div class="form-group text-right">
    <form action="/user/search" class="text-right" method="POST">
        <input style="width: 250px; height: 27px; " name="search" type="text" placeholder="search">
        <button type="submit" class="btn btn-primary btn-sm">Find</button>
    </form>
</div>


<table class="table table-bordered">
    <tr>
        <th>Ảnh</th>
        <th>Tên </th>
        <th>Mã</th>
        <th>Đơn Giá</th>
        <th>Màu Sắc</th>
        <th>Loại Sản Phẩm</th>
        <th>Action</th>
    </tr>

    {{#each users}}
    <tr>

        <td><img width="30" height="30" src="http://127.0.0.1:5500/views/image/{{this.filename}}" alt=""></td>
        <td>{{this.fullName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.password}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.address}}</td>
        <td> <a href="/user/edit/{{this._id}}" class="btn btn-primary btn-sm">Edit</a> |
            <a href="/user/delete/{{this._id}}" onclick="return confirm('Are your sure?')"
                class="btn btn-primary btn-sm">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->